/* Global styles */
.app-dashboard {
    min-height: auto;
}

.message-container {
    overflow-y: auto; /* Enable vertical scrolling */
    height: calc(100vh - 305px);
}

.message-wrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.user-icon, .llm-icon {
    width: 32px;
    height: 32px;
    margin: 12px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    background-color: white;
}

.llm-icon img {
    width: 100%;
    height: auto;
}

.message {
    border-radius: 16px;
    margin: 8px;
    padding: 12px;
    box-shadow: 0 2px 12px 0 rgba(138, 165, 234, 0.25);
    background: white;
    max-width: 88%;
    word-wrap: break-word;
    clear: both;
}

.assistant-message {
    background-color: #ECF1F8; 
}

.user-message {
    background-color: #fff; 
}

.input-container {
    border-radius: 16px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    position: relative;
}

.input-container textarea:disabled {
    cursor: not-allowed;
}

.footer-message {
    position: relative;
    text-align: center;
    font-size: 0.8rem;
    background-color: #f9f9f9;
}

.message-content.collapsed {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Number of lines to show */
    -webkit-box-orient: vertical;
}

button {
    color: #fff;
    background-color: #005de9;
    border: 1px solid #005de9;
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    padding: 8px 12px;
}

button:hover {
    background-color: #0056D1;
}

.expand-collapse-btn {
    align-self: flex-start;
    margin: 12px;
    cursor: pointer;
}

.custom_browse_tsnv .mat-form-field-underline {
    display: none;
}

.custom_browse_tsnv .mat-form-field-wrapper {
    padding-bottom: 0;
}

.custom_browse_tsnv .mat-form-field-infix {
    border-top:none;
}

.custom_browse_tsnv {
    margin: 0;
    margin-top: 26px;
    padding: 9px 14px 4px;
    max-width: 200px;
    height: 40px;
    border: 1px solid #cccccc7a;
    background-color: #fff;
    border-radius: 8px;
    font-weight: 400;
}

.custom_browse_tsnv .mat-select-value {
    font-family: 'Poppins', sans-serif;
    color: #333;
    font-weight: 500;
}

.mat-option {
    font-weight: 500;
}

.mat-select-arrow {
    color: #2D3538;
}

.mat-slider {
    width: 100%;
}

.mat-accent .mat-slider-thumb, 
.mat-accent .mat-slider-thumb-label, 
.mat-accent .mat-slider-track-fill {
    background-color: #005de9;
}

.managelabel {
    display: grid;
    flex-direction: row;
    margin-bottom: 12px;
}

.icon-container {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    width: 24px; /* Adjust the size as needed */
}

.back-to-top {
    height: 32px;
    width: 32px;
    position: fixed;
    bottom: 111px;
    left: 50%;
    opacity: 0.9;
    transform: translateX(-50%);
    padding: 4px;
    background: #f5f1f1;
    color: #fff;
    border: 1px solid #E9E9E9;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    z-index: 1000; /* Ensures the button is on top of other content */
}

.back-to-top:hover {
    background: #fff;
}

.newchat-dropdown {
    position: relative;
    width: 250px;
    border-right: 1px solid #ccc;
    transition: transform 0.3s ease;
    z-index: 1;
    padding: 12px 12px 12px 0;
}

.newchat-header {
    padding-bottom: 16px;
    border-bottom: 2px solid lightgray;
}

.new-chat-button:disabled {
    background-color: #ccc;    
    color: #666;               
    border: 1px solid #ccc; 
    cursor: not-allowed;
}

.error-text {
    color: red;
}

.default-screen {
    width: 20%;
    height: 180px;
    background-color: #e9e9e9;
    border-radius: 16px;
    padding: 12px;
    display: grid;
    cursor: pointer;
}

.default-screen:hover { 
    background-color: #d7d7d7;  
}

.temperature-info {
    z-index: 5;
    font-size: 11px;
    margin-top: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 2px 12px 0 rgba(138, 165, 234, 0.25);
    background: #fff;
    padding: 10px;
    position: absolute;
    transform: translateX(-98%);
}

.temperature-info p {
    color: #8d8d8d;
}

.i-button1, .i-button2 {
    cursor: pointer;
    position: relative;
}

.token-info {
    z-index: 5;
    font-size: 11px;
    margin-top: 16px;
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 2px 12px 0 rgba(138, 165, 234, 0.25);
    background: #fff;
    padding: 10px;
    transform: translateX(-98%);
}

.token-info p {
    color: #8d8d8d;
}

.history-messages {
    padding: 6px;
    display: flex;
    gap: 6px;
    align-items: center;
    margin-top: 9px;
}

.history-messages svg {
    height: 22px;
}

.history-messages span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 180px;
}

.history-messages:hover {
    cursor: pointer;
    background: #e1e1e1;
    border-radius: 4px;
}

.history-messages.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

.advance-options-popup {
    position: absolute;
    top: 138px;
    right: 50px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 8px;
    padding: 12px;
}

.advanced-settings {
    margin-left: auto; 
    margin-right: 24px;
    font-size: medium;
    color: blue;
    cursor: pointer;
}

.advanced-settings:hover {
    text-decoration: underline;
}
